html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #4b0000;
  color: #ffffff;
  
}

a {
  color: #de9999;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  background-color: #660000;
  border-radius: 8px;
}

h1, h2 {
  color: #ffcccc;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}
